/* Start Body CSS */
/* media call for formatting */
    @media (max-width: 768px) {
      h5, h6 { font-size: small;}
    }
/* End Body CSS */
/* Begin ToC CSS */
/* media call for formatting */
    @media (max-width: 600px) {
     .outlineToC > h6 {font-size: medium;}
     .outlineToC:hover {
        height: 16em;
      }
    }
/* End ToC CSS */
/* Start Table CSS */
      table, th, td {font-size: .8rem;}
      .tablecenter {width: 90%;}
        /* media call for formatting */
        @media (max-width: 768px) {
          .tablecenter {max-width: 95%;}
          table, th, td {font-size: .7rem;}
        }
/* end Table CSS */
