/* Start Nav Bar */
#nav {
  height: 50px;
  margin: 10px 0px 15px;
}

#nav > a  {
  float: left;
  padding: 1px 15px;
}

#nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0 0 0 90px;
  overflow: hidden;
}

#nav li {
  float: left;
  margin-left: 15px;
}

#nav li a {
  display: block;
  text-align: center;
  padding: 7px 15px;
  font-size: 26px;
  font-weight: bold;
  color: #dddddd;         /* Should match main section headers */
  text-shadow: 0px 0px 2px #000,  /* Should match main section headers */
        -1px -1px 2px #000,
        1px -1px 2px #000,
        -1px 1px 2px #000,
        1px 1px 2px #000;
}

#nav a {
  border: 2px solid #3f3f3f;
    border-radius: 7px;
}

#nav a:hover {
  border: 2px solid #66a223;
}

/* End header and navigation basic framework */

/* Start Grid CSS */

.gridContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
  'navbar navbar navbar navbar'
  'gheader gheader gheader gheader'
  'gbody gbody gbody gbody'
  'gbody gbody gbody gbody';
  grid-gap: 0px 25px;
  padding: 0 20%;
  padding-top: 65px;
}

.navbar {
  grid-area: navbar;
  position: sticky;
  top: 0px;
}

.gheader {
  grid-area: gheader;
}

.gbody {
  grid-area: gbody;
  display: grid;
  grid-template-areas:
  'gToC gcontent gcontent gcontent'
  'gToC gcontent gcontent gcontent'
}

.gToC {
  grid-area: gToC;
}

.gcontent {
  grid-area: gcontent;
}

/* End Grid CSS */

body {
  max-width: 100%;
  background: #222629;
  color: #333333;
}

img {
 max-width: 100%;
 height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro {
 align-content: center;
}

nav[data-toggle='toc'] .nav .nav {
 display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: #dddea4;
}

p {
  color: #979797;
  text-align: justify;
}

ul {
  margin: 0;
}

/* Start Table CSS */
      table, th, td {
        border: 1px solid black;
      }

      tr:nth-child(even) {
        background: #cccccc;
      }

      th, td {
        padding: 8px;
        text-align: center
      }

      th {
        text-align: center;
        border: 1px solid white;
        background-color: black;
        color: white;
      }
/* end Table CSS */

.bg-steel {
  background-color: #5F788A;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
