/* Start Navbar CSS */
    #nav ul {
      list-style-type: none;
      padding: 0px 1.5rem 0px 1.5rem;
    }
    #nav li {text-align: center; }
    #nav li a {
      display: block;
      padding: 5rem 0px;
      font-weight: bold;
      color: #a8a8a8;
      border: 3px solid #694d95;
    }

        /* media calls for Nav buttons */
        @media (max-width: 768px) {
          #nav li a {font-size: 1rem; }
        }
        @media (max-width: 500px) {
          #nav ul {padding: 0px 3rem 0x 3rem; }
          #nav li a {padding: 3rem; }
        }

    #nav a.frostfall:hover { border: 2px solid #d9e2f3;}
    #nav a.bloom:hover { border: 2px solid #e6ffcd;}
    #nav a.soltine:hover { border: 2px solid #89ce71;}
    #nav a.harvestide:hover { border: 2px solid #ffdcaf;}
    #nav a.holidays:hover { border: 2px solid #f93434;}
    #nav a.reference:hover { border: 2px solid #6117d7;}
/* End Navbar CSS */

/* Start Grid CSS */

    .gridContainer {
      grid-template-areas:
      'gheader gheader gheader'
      'gterrim grules gchar'
      'gpanth gcal gtools';
      grid-gap: 0px;
    }

      @media (max-width: 768px) {
          .gridContainer {
            grid-template-areas:
            'gheader gheader'
            'gterrim grules'
            'gchar gpanth'
            'gcal gtools';
          }
        }
        @media (max-width: 500px) {
            .gridContainer {
              grid-template-areas:
              'gheader'
              'gterrim'
              'grules'
              'gchar'
              'gpanth'
              'gcal'
              'gtools';
            }
        }

    .gheader { padding-bottom: 1rem; }

    .gterrim {grid-area: gterrim;}
    .gterrim li {
      background-image: url(../Images/town.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .grules { grid-area: grules;}
    .grules li {
      background-image: url(../Images/rules.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .gchar { grid-area: gchar;}
    .gpanth { grid-area: gpanth;}
    .gcal { grid-area: gcal;}
    .gcal li {
      background-image: url(../Images/calendar.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .gtools { grid-area: gtools;}
/* End Grid CSS */
/* Start body CSS */
    img {padding-bottom: 1rem; }
    h1 {
      text-align: center;
      font-weight: bolder;
    }
    p {
      color: #a8a8a8;
      padding: 0px;
      margin: auto;
      text-align: center;
    }
    /* media call for formatting */
        @media (max-width: 768px) {
          body {font-size: .8rem; }
          h1 {font-size: x-large; }
          h2, h3, h4, h5, h6 {font-size: medium; }
        }
/* End Body CSS */
