body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  'gheader gheader gheader gheader'
  'gToC gcontent gcontent gcontent'
  'gToC gcontent gcontent gcontent';
  background: #fafafa;
  color: #333333;
  margin-top: 4rem;
}

img {
 max-width: 100%;
 height: auto;
}

header {
 text-align: center; 
}

.gheader {grid-area: gheader; }
.gToC {grid-area: gToC; }
.gcontent {grid-area: gcontent; width: auto;}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

h2, h3 {
  margin-left: 30px
}

p {
  margin-left: 60px;
}

ul {
  margin: 0;
}

/* Start Table CSS */
      table, th, td {
        border: 1px solid black;
      }

      tr:nth-child(even) {
        background: #cccccc;
      }

      th, td {
        padding: 8px;
        text-align: center
      }

      th {
        text-align: center;
        border: 1px solid white;
        background-color: black;
        color: white;
      }
/* end Table CSS */

.bg-steel {
  background-color: #5F788A;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
