@media (max-width: 600px) {
 .outlineToC:hover {height: 11em; }
}

.packstable {
    text-align: center;
    display: flex;
    justify-content: center;
}

.geartable {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Start Table CSS */
    table {
        margin: 0px 10px 10px 0px;
    }

    th, td {
        padding: 0px 2px 0px 2px;
        font-size: .8rem;
    }

/* media call for formatting */
    @media (max-width: 768px) {
      table, th, td {font-size: .7rem;}
        }
/* end Table CSS */

