@media (max-width: 600px) {
 .outlineToC:hover {height: 11em; }
 th, td {font-size: .5rem;}
 .geartable {flex-wrap: wrap;}
}

h1 {
    text-align: center;
}

.packstable {
    text-align: center;
    display: flex;
    justify-content: center;
}

.geartable {
    text-align: center;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.drop-down-show-hide {
    margin-right: 12%;
}

    /* Start Table CSS */
    table {
        margin: 0px 10px 10px 0px;
    }

    th, td {
        padding: 0px 2px 0px 2px;
        font-size: .8rem;
    }

    /* media call for formatting */
    @media (max-width: 768px) {
      table, th, td {font-size: .7rem;}
        }
    /* end Table CSS */

#lightsource {
    tr:nth-child(even) {background: #fffce3;}
    tr:nth-child(odd) {background: #fef7bf;}
}

#mysticgear {
    tr:nth-child(even) {background: #e3ffe8;}
    tr:nth-child(odd) {background: #beffca;}    
}

#thievesgear {
    tr:nth-child(even) {background: #ddfefb;}
    tr:nth-child(odd) {background: #c1fffa;}    
}

#acedemicsgear {
    tr:nth-child(even) {background: #fef2fd;}
    tr:nth-child(odd) {background: #ffe4fe;}    
}

#adventuringgear {
    tr:nth-child(even) {background: #ffeded;}
    tr:nth-child(odd) {background: #ffd0d0;}
}

#dungeoneeringgear {
    tr:nth-child(even) {background: #fff6ed;}
    tr:nth-child(odd) {background: #ffe8d0;}   
}

#kitsandtools {
    tr:nth-child(even) {background: #ecf3ff;}
    tr:nth-child(odd) {background: #d0e2ff;}       
}

#lightpick {background-color:#fef7bf;}
#mysticpick {background-color:#beffca;}
#thievespick {background-color:#c1fffa;}
#acedemicspick {background-color:#ffe4fe;}
#adventurepick {background-color:#ffd0d0;}
#dungeoneeringpick {background-color:#ffe8d0;}
#kitpick {background-color:#d0e2ff;}





