li {
    color: #a8a8a8;
}
strong {
    color: #ccccbc;
}

h2 {
    padding-left: 20px;
}
h2 + p {
    padding-left: 40px;
}


/* Bullet Point CSS - Timeline */
.point {
    min-width: 20px;
    height: 20px;
    background-color: #4e3b6c;
    border-radius: 100%;
    border: 3px #333333 solid;
    position: relative; }

/* Timeline CSS */
.timeline {
    position: relative;
    margin: 0 auto;
    width: 90%; }

.timelinewrapper {
    height: 600px;
    overflow: auto;
}
.timeline ul li {
    margin-bottom: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row-reverse; }

.timeline ul li .date {
    width: 20%;
    padding: 0 20px; }
.timeline ul li .date h5 {
    font-size: 1rem;
    color: #ccccbc;
    text-align: center;
    padding: 20px 20px 15px 0px; }

.timeline ul li .content {
    width: 70%;
    padding: 0 20px; }
.timeline ul li .content h5 {
    font-size: 1rem;
    padding: 10px 20px 5px 15px;
    margin-bottom: 0;
    text-align: left; }
.timeline ul li .content p {
    font-size: .9rem;
    padding: 5px 15px 10px 20px;
    text-align: left; }

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 32%;
    background-color: #333333;
}

/* custom Scroll Bar */
    .timelinewrapper {
      scrollbar-width: thin;
      scrollbar-color: #4e3b6c36 #24282d00;}
    /* Works on Chrome/Edge/Safari */
    .timelinewrapper::-webkit-scrollbar {width: 10px;}
    .timelinewrapper::-webkit-scrollbar-track {background: #24282d00;}
    .timelinewrapper::-webkit-scrollbar-thumb {
      background-color: #4e3b6c36;
      border-radius: 10px;
      border: 1px solid #343a40;}
/* End Scroll Bar */

/* Timeline Responsiveness 600 */
@media (max-width: 600px) {
    html, body {
        font-size: 14px;
    }

    .point {
        min-width: 12px;
        height: 12px;
    }

    .timeline::before {
        left: 40%;
    }
}
