/* Start Grid CSS */
    .gbody {
      grid-template-areas:
      'gcontent gcontent gcontent'
      'gcontent gcontent gcontent'
    }
/* End Grid CSS */
/* Start body CSS */
    h1, h2, h3, h4, h5, h6 {
      color: #a8a8a8;
      text-align: center; }
    h5 {
      padding: 0px;
    }
    h5 + p {
      padding-left: 0;
    }
    p {
      color: #a8a8a8;
      padding: 0 0 20px 0;
      margin: auto;
      text-align: center;
    }
/*end Body Css*/
